<div class="menu-user-container">
  <div class="menu-user-logo">
      <img class="menu-logo-img" src="assets\logos\MenuUserLogo.png">
  </div>
  <nav class="menu-options">
      <a routerLink="/inicio" class="menu-link" id="Home-btn" routerLinkActive="active"></a>
      <a routerLink="/red" class="menu-link" id="Net-btn" routerLinkActive="active"></a>
      <a routerLink="/mensajes" class="menu-link" id="Msg-btn" routerLinkActive="active"></a>
      <a routerLink="/proyectos" class="menu-link" id="Prjt-btn" routerLinkActive="active"></a>
      <a routerLink="/educacion" class="menu-link" id="Edu-btn" routerLinkActive="active"></a>
      <a routerLink="/blog" class="menu-link" id="Blog-btn" routerLinkActive="active"></a>
      <a routerLink="/eventos" class="menu-link" id="Event-btn" routerLinkActive="active"></a>
      <a routerLink="/premios" class="menu-link" id="Award-btn" routerLinkActive="active"></a>
      <a routerLink="/mi-perfil" class="menu-link" id="My-btn" routerLinkActive="active"></a>
  </nav>
</div>
