<div class="menu-user-container">
  <div class="menu-user-logo">
      <img class="menu-logo-img" src="assets\logos\MenuAdminLogo.png">
  </div>
  <nav class="menu-options">
      <a routerLink="/reportes" class="menu-link" routerLinkActive="active">Reportes</a>
      <a routerLink="/admin-proyectos" class="menu-link" routerLinkActive="active">Proyectos</a>
      <a routerLink="/admin-usuarios" class="menu-link" routerLinkActive="active">Usuarios</a>
      <a routerLink="/admin-eventos" class="menu-link" routerLinkActive="active">Eventos</a>
      <a routerLink="/admin-premios" class="menu-link" routerLinkActive="active">Premios</a>
  </nav>
</div>
